
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$primaryBackground: #00796B; // teal darken-2
$secondaryBackground: #009688; // teal
$primaryText: #212121; // grey darken-4
$secondaryText: #757575; // grey darken-1
$whiteText: #fff; // white
$colorAccent: #536DFE; // indigo accent-2
