
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.text-center {
  text-align: center !important;
}

.no-padding {
  padding: 0;
}

.row {
  margin: 0;
}

div.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  overflow-x: auto;
}


div.card-header {
  padding: 0.75rem 1.25rem;
  color: white;
  background-color: #00796B;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

div.v-progress-linear {
  margin: 0;
}

.wrapper-button-bottom {
  margin-top: 1.25rem;
}

.leftcolumn {
  width: 50%;
  float: left;
}

.rightcolumn {
  width: 50%;
  float: right;
  text-align: right;
}

// Font-awesome messages

.isa_info, .isa_success, .isa_warning, .isa_error {
  margin: 10px 0px;
  padding: 8px;
  border-radius: 10px;
}
.isa_info {
  color: #00529B;
  background-color: #BDE5F8;
}
.isa_success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.isa_warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.isa_error {
  color: #D8000C;
  background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
  margin:10px 22px;
  font-size:2em;
  vertical-align:middle;
}